<nav class="navbar navbar-light">
  <div class="container">
    <ul class="nav navbar-nav pull-xs-right" *showAuthed="true">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="signOut($event);">
          Sign Out
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/profile">
          Profile
        </a>
      </li>

    </ul>
    <ul class="nav navbar-nav pull-xs-right" *showAuthed="false">

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/">
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"
          routerLink="/login">
          Sign In
        </a>
      </li>


      <li class="nav-item">
        <a class="nav-link"
          routerLink="/sign-up">
          Sign Up
        </a>
      </li>
    </ul>
  </div>
</nav>
