<form (submit)="onSubmit($event, form);" novalidate #form="ngForm">
     <div class="form-group">
       <label for="email">Email</label>
       <input type="email"
        [(ngModel)]="user.email"
        #email="ngModel"
        class="form-control"
        id="email"
        name="email"
        placeholder="Email"
        pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,}$"
        required>
        <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">
              Email is required
            </div>
            <div *ngIf="email.errors.pattern">
              Email is not valid
            </div>
        </div>
     </div>
     <div class="form-group">
       <label for="password">Password</label>
       <input type="password"
        [(ngModel)]="user.password"
        #password="ngModel"
        class="form-control"
        id="password"
        name="password"
        placeholder="Password"
        pattern="^(?=.*[A-Z])(?=.*[!@#$&*])(?=.*[0-9])(?=.*[a-z]).{8,}"
        required>
        <div class="alert alert-danger" *ngIf="password.touched && !password.valid">
          <div *ngIf="password.errors.required">
            Password is required
          </div>
          <div *ngIf="password.errors.pattern">
            Password does not match criteria
          </div>
        </div>
        <div id="password-instruction" *ngIf="transaction=='signup'">
          <ul>
            <li>
              password must be atleast 8 characters long
            </li>
            <li>
              password must contain atleast 1 lowercase character
            </li>
            <li>
              password must contain atleast 1 uppercase character
            </li>
            <li>
              password must contain atleast 1 special character
            </li>
            <li>
              password must contain atleast 1 numeric character
            </li>
          </ul>
        </div>
     </div>


     <button type="submit" class="btn btn-success" [disabled]="form.invalid && transaction=='signup'">
       {{ transaction=="signup"? "Register": "Login" }}
     </button>
</form>
